.tabbar{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
}

.container{
    width: 100%;
    position: relative;
    margin-top: 132rpx;
    height: 100%;
    .table{
        width: 100%;
        .title{
            position: fixed;
            margin-top: 72rpx;
            width: 100%;
            top: 0;
            z-index: 10;
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 60rpx;
            border-bottom: 1rpx solid var(--lineColor);
            font-size: 20rpx;
            color: var(--thirdText);
            text-align: center;
            padding: 0 16rpx;
            background-color: var(--containerColor);
            .title-rank{
                flex: 1;
            }
            .title-change{
                flex: 1;
            }
            .title-team{
                margin-left: 16rpx;
                flex: 4;
                text-align: left;
            }
            .title-region{
                flex: 3;
            }
            .title-score{
                flex: 1;
            }
        }
    }
}   